*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
app/.DS_Store
/vendor/bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.idea/
.project
.DS_Store
*.swp
*.swo
*.swn
*.vim
*.tmuxp
.history
db/*.sqlite3
db/*.sqlite3-journal
*.bak
*.swp
*~.nib
.local
.relativizehtml
coverage/
config/initializers/secret_token.rb
config/master.key
yarn-error.log
node_modules/
/public/assets/
/storage/*
/config/deploy/*
